In [2]:
library(readr)
library(dplyr)
cols_ <- c("leaid", "leaname","fips", "stateabb", "ses", "meangs", "mnenrol", "top100")
df <- read_csv("SEDA_DistrictData_toconvertforR.csv", 
    col_names = cols_)

Parsed with column specification:
cols(
  leaid = col_double(),
  leaname = col_character(),
  fips = col_double(),
  stateabb = col_character(),
  ses = col_double(),
  meangs = col_double(),
  mnenrol = col_double(),
  top100 = col_double()
)

### Problem Set 1, PP240B
#### Peter Amerkhanian

How do you think the average student in your elementary school or district compared to the national average on math and reading tests?  
Were they 1 grade level above average? 1 grade level below average? **Find out specifically by looking for your district (“leaname”) and its achievement in comparison to the national average**   
note, the standardized outcome measure (“meangs”) has already been converted to grade-level equivalents (e.g., 0 represents the national average; 1 represents 1 grade level above average; -1 represents 1 grade level below average).

In [3]:
df_alb <- filter(df, leaname == "Albany City Unified")
sprintf("% s is % s grade levels above average", df_alb$leaname, df_alb$meangs)

[1] "Albany City Unified is 2 grade levels above average"

**What are the mean, median, 10th, 25th, 75th, and 90th percentile of academic achievement? (1)**  
[Hint: use the sum command with the detail option (options come at the end of a Stata command, following a comma). For help, search on “summarize” in the Stata help menus.] **How many public school districts are there in the US? (2)** Did you **take into account the district’s student enrollment size (“mnenrol”) in the calculation of the distribution of academic achievement above? [hint: if not, go back & do so] (3)**

**1) What are the mean, median, 10th, 25th, 75th, and 90th percentile of academic achievement?**

In [4]:
print(summary(df$meangs)[3])
print(summary(df$meangs)[4])
for (val in list(0.1, 0.25, 0.75, 0.9)) print(quantile(df$meangs, val))

Median
     0
      Mean
0.08507937
10%
 -1
25%
 -1
75%
  1
90%
  1

**2) How many public school districts are there in the US?**

In [5]:
sprintf("There are % s districts", formatC(length(unique(df$leaname)), format="f", big.mark=",", digits=0))

[1] "There are 12,209 districts"

**3) What are the mean, median, 10th, 25th, 75th, and 90th percentile of academic achievement - adjusted for enrollment**

In [6]:
summary_df <- dplyr::count(df, meangs, sort = TRUE)
students_vector = c()
for (val in summary_df$meangs)
    {
    grade_level <- val
    num_of_students_at_grade_level = sum(filter(df, meangs == val)$mnenrol)
    o <- sprintf("Students in schools at %d: %s", grade_level, num_of_students_at_grade_level)
    print(o)
    # A vector where elements are a given grade level n times (n=students in schools at that grade level)
    column <- rep(c(grade_level), num_of_students_at_grade_level)
    # A vector where every student is represented by the grades-above-average their school is
    students_vector <- c(students_vector, column)
}

print(summary(students_vector)[3])
print(summary(students_vector)[4])
for (val in list(0.1, 0.25, 0.75, 0.9)) print(quantile(students_vector, val))

[1] "Students in schools at 0: 1359413"
[1] "Students in schools at 1: 826510"
[1] "Students in schools at -1: 865429"
[1] "Students in schools at 2: 249510"
[1] "Students in schools at -2: 268268"
[1] "Students in schools at 3: 49258"
[1] "Students in schools at -3: 18424"
[1] "Students in schools at -4: 787"
[1] "Students in schools at 4: 2115"
[1] "Students in schools at -7: 31"
[1] "Students in schools at -5: 35"
Median
     0
       Mean
0.005766008
10%
 -1
25%
 -1
75%
  1
90%
  1